@font-face {
    font-family: "Work_Sans";
    src: url('/src/assets/fonts/Work_Sans/WorkSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Work_Sans";
    src: url('/src/assets/fonts/Work_Sans/WorkSans-ExtraLight.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "Work_Sans";
    src: url('/src/assets/fonts/Work_Sans/WorkSans-Bold.ttf');
    font-weight: 900;
}