$padding: 1rem;

.p-dialog {
	border-radius: $border-radius;

	.p-dialog-header {
		padding: $padding;
	}

	.p-dialog-content {
		padding: 0 $padding;
	}

	.p-dialog-footer {
		padding: $padding;
	}
}