.p-progressbar {
	background-color: rgba($primary, 0.2);
	height: 10px;
	width: 90vw;
	max-width: 500px;
}

.p-datatable {
	border-radius: $border-radius;
	overflow: hidden;
	box-shadow: $smooth-box-shadow;

	&.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
		background-color: rgba($primary, 0.05);

		&:hover {
			background-color: rgba($primary, 0.1);
		}
	}

	.p-datatable-tbody>tr.p-highlight {
		background-color: rgba($primary, 0.2) !important;
	}

	.p-sortable-column:not(.p-highlight) {
		transition: $transition;
	}

	.p-datatable-header {
		background-color: #f8f9fa;
		border: none;
		padding: 1rem;
		border-bottom: 1px solid #dee2e6;
	}

	.p-datatable-tbody {
		tr {
			transition: $transition;
			cursor: pointer;

			td {
				border: none;
			}
		}
	}

	.p-paginator {
		border: none;
		background-color: #f8f9fa;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		.p-paginator-pages {
			.p-paginator-page {
				&.p-highlight {
					background-color: rgba($primary, 0.1);
				}
			}
		}
	}

	a {
		color: $primary;
		text-decoration: none;
	}
}

.p-dropdown-panel .p-dropdown-items {
	border-radius: $border-radius;
	padding: 0;

	.p-dropdown-item.p-highlight {
		background-color: rgba($primary, 0.1);
	}
}